.content-table{
	border-collapse: collapse;
	font-size: 0.9em;
	min-width: 400px;
	white-space: nowrap;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	border-radius: 5px 5px 0 0;	
	z-index: 6;
}
.content-table thead{
	color: white;
	border-radius: 5px 5px 0 0;
}
.content-table thead th{
	background-color: #00c952;
	color: #fff;
	text-align: left;
	font-weight: bold;
	top: 11vh;
}
.content-table th,
.content-table td{
	padding: 16px 16px;
}
.content-table tbody tr{
	border-bottom: 1px solid #ddd;
}
.content-table tbody tr:nth-of-type(even){
	background-color: #f3f3f3;
}
.content-table tbody tr:nth-of-type(odd){
	background-color: #fff;
}
.content-table tbody tr:last-of-type{
	border-bottom: 2px solid #00c952;
}
/*.content-table thead th .thsticky {
	left: 230px;
}
.content-table tbody td .tdsticky{
	position: sticky; 
	left: 230px; 
	background: inherit;
	color: black;
}
*/
.list-options-position{
	top: 13.2vh;
	left: 17vw;
	position: relative;
}
.btn-pattern{
	padding: 12px 12px;
	margin: 0px;
	text-decoration: none;
	font-size: 0.9em;
	color: white;
	border-radius: 5px;
	border: 0px;
}
.red{
	background-color: #ff6961;
}
.red:hover{
	background-color: #ff8b8b;
	cursor: pointer;
}
.green{
	background-color: #00c952;
}
.green:hover{
	background-color: #21f376;
	cursor: pointer;
}
.blue{
	background-color: #008CBA;
}
.blue:hover{
	background-color: #36bae6;
	cursor: pointer;
}
.btn-pattern .blue .pg{
	margin-left: 5px;
	margin-right: 5px;
}
.selected_pg{
	background-color: transparent;
	border: 2px solid #008CBA;
	color: #008CBA;
	cursor: pointer;
}
#red_probatorio{
  color: #ff6961;
  cursor: default;
  font-weight: bold;
}
#green_probatorio{
  color: #04b054;
  font-weight: bold;
	align-content: center !important;
}
@keyframes animation {
  from {left: 0px; background-color: transparent;color: transparent;}
  to {left: 35px;}
}